@model TeachMeEntidadesDeNegocio.Compra

@{
    ViewData["Title"] = "Details";
}

<hr />
<hr />
<h1>Details
    <i class="bi bi-search"></i>
</h1>
<hr />
<hr />
<div>
    <h4>Compra</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CredencialPago)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CredencialPago.NumeroTarjeta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Regresar a la lista</a>
</div>
