@model TeachMeEntidadesDeNegocio.Compra

@{
    ViewData["Title"] = "Edit";
    List<TeachMeEntidadesDeNegocio.Usuario> usuarios = ViewBag.Usuarios as
           List<TeachMeEntidadesDeNegocio.Usuario>;

    List<TeachMeEntidadesDeNegocio.Curso> cursos = ViewBag.Cursos as
        List<TeachMeEntidadesDeNegocio.Curso>;

    List<TeachMeEntidadesDeNegocio.CredencialPago> CredencialPagos = ViewBag.CredencialPagos as
        List<TeachMeEntidadesDeNegocio.CredencialPago>;
}
<div class="container">
<hr />
<hr />
<h1>Modificar
    <i class="bi bi-pencil-square"></i>
</h1>

<h4>Compra</h4>
<hr />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCompra" class="control-label"></label>
                <input asp-for="FechaCompra" class="form-control" type="date"/>
                <span asp-validation-for="FechaCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <select asp-for="IdUsuario" class="form-control">
                    @foreach (var item in usuarios)
                    {
                        if (Model.IdUsuario == item.Id)
                        {
                            <option selected value="@item.Id">@item.Nombre</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Nombre</option>
                        }
                    }
                </select>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCurso" class="control-label"></label>
                <select asp-for="IdCurso" class="form-control">
                    @foreach (var item in cursos)
                    {
                        if (Model.IdCurso == item.Id)
                        {
                            <option selected value="@item.Id">@item.Nombre</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.Nombre</option>
                        }
                    }
                </select>
                <span asp-validation-for="IdCurso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCredencialesPagos" class="control-label"></label>
                <select asp-for="IdCredencialesPagos" class="form-control">
                    @foreach (var item in CredencialPagos)
                    {
                        if (Model.IdCredencialesPagos == item.Id)
                        {
                            <option selected value="@item.Id">@item.NumeroTarjeta</option>
                        }
                        else
                        {
                            <option value="@item.Id">@item.NumeroTarjeta</option>
                        }
                    }
                </select>
                <span asp-validation-for="IdCredencialesPagos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
